<div *ngIf="this.accstatus=='pending'">
    <h1>
Your account has not been cleard by admin yet
    </h1>
    </div>
<div *ngIf="this.accstatus!='pending'" class="signup-form">
    <form  [formGroup]= "routeform" (submit)="processdata();">
	
        <p class="hint-text">Route details</p>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6"><h6>From:-</h6></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h6>To:-</h6></div>
				
            </div> 
            
			<div class="row">
                
				<div class="col-lg-6 col-md-6 col-sm-6"><input type="text" class="form-control" formControlName="start" placeholder="from" required="required"></div>
				<div class="col-lg-6 col-md-6 col-sm-6"><input type="text" class="form-control" formControlName="end" placeholder="to" required="required"></div>
            </div>      
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6"><h6>Dep Date:-</h6></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h6>Dep Time:-</h6></div>
				
            </div>
            <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6"><input type="date" class="form-control" formControlName="depdate"  required="required"></div>
				<div class="col-lg-6 col-md-6 col-sm-6"><input type="time" class="form-control" formControlName="deptime"  required="required"></div>
            </div>  
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6"><h6>Duration in hours:-</h6></div>
                    <div class="col-lg-6 col-md-6 col-sm-6"><input type="number" class="form-control" formControlName="duration"  required="required"></div>
                
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6"><h6>Starting Price:-</h6></div>
                    <div class="col-lg-6 col-md-6 col-sm-6"><input type="number" class="form-control" formControlName="price"  required="required"></div>
                
            </div>
            <br>
           
    
              <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input type="text" class="form-control" formControlName="busbrand" placeholder="BUS BRAND" required="required"/>
                    
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6">
                    <input type="text" class="form-control" formControlName="busmodel" placeholder="BUS MODEL" required="required"/>
                    
                </div>
               
    
              </div>
              <br>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6"><h6>TOTAL SEATS:-</h6></div>
                <div class="col-lg-6 col-md-6 col-sm-6"><h6>BLOCKED SEATS:-</h6></div>
                
            </div> 
    
              <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input type="number"  formControlName="totalseats"  required="required" />
                   
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6">
                    <input type="number"  formControlName="blockedseats"  required="required" />
                    
                </div>
               
             
               
    
              </div>
              <br>
    

            <div class="row">
                <div class="col-12">
                    <select class = "form-control" formControlName = "busnumber">
                        <option *ngFor="let details of prod" value="{{details.busregno}}">{{details.busregno}}</option>
                      
                      </select>
                </div>
            </div>
        </div>
        


		<div  class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">ADD ROUTE</button>
        </div>
        
    </form>

    
</div>

